body,html{
    height: 100%;
    margin:0 auto;
}   
.link{
    color:black;
    padding: 10px 20px;
}
.link: hover {
    background: black;
    color: black;
    font-weight: bold;
    
}
.section1{
    background: url(../img/monokrom.jpg);
    width:  100%;
    height:  100%;
    padding-top: 20%;
    text-align: center;
}
.judul{
    font-family: ;
    font-size:  80px;
    padding-bottom: 50px;
    color:white;
    margin: auto;
}
.sub-judul{
    font-size: 80px;
    color: black;
    margin: auto;
    text-align-last: center;
    font-style: italic;

}
.section2{
    background: grey;
    padding: 20x 0px;
    
}
.judul{
    font-family:inherit;
    font-size:  50px;
    border-bottom: white;
    color: black;
    margin: auto;
    
}
.sub-judul{
    font-family: inherit;
    font-size:  20px; 
    color:black;
    text-align: center;
}
.section3{
    background :white;
    padding:100px 0px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
}
.sub-judul{
    font-family: inherit;
    font-size:  20px; 
    color:black;
    text-align: center;
    
}
.col-kiri{
    background: grey;
    font border-color: black;
    color: black;
}
.col-kanan{
    background: black;
    font border-color: white;
    color: white;

